@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Open Sans', sans-serif;
    background-color:#f4f4f4;
    overflow-x:hidden;
    height:100%;
}
h1, h2, h3, h4, h5{
    font-weight:200;
    color:rgba(225,225,225,1);
    font-family:'Josefin Sans';
}

#map{
    width: 100vw;
    height: 100vh;
}
