@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

/*
 * -------------
 * General
 * -------------
 */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color:#f4f4f4;
    overflow-x:hidden;
    height:100%;
}
h1, h2, h3, h4, h5{
    font-weight:200;
    color:rgba(225,225,225,1);
}

#map{
    position: relative;
    height: 95vh;
}

/*
 * -------------
 * Header CSS
 * -------------
 */
.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color:#ef8e2d;
    z-index: 1000;
    overflow: hidden;
}
.header .logo{
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    letter-spacing: 0.1em;
    color:#fff;
    padding: 5px;
    text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
}
